* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


#contenedor {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}