body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #000000;
}

.first-Titulo {
    color: #FFFFFF;
    text-align: center;
    margin-top: 10%;
}

/*.second {
    color: #FFFFFF;
    text-align: center;
    margin-top: 25px;
}
*/
.second-Subtitle {
    color: #adadad;
    text-align: center;
    margin-top: 25px;
}

.third {
    color: #FFFFFF;
    text-align: center;
    margin-top: 25px;
}

.third-Input {
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.third-Button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
