/* ESTILO SECCION */
.newsletter_section {
    height: 100vh;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;

    @media (max-width: 900px) {
        flex-direction: column;
    }
}

/*ESTILO COLUMNA IZQUIERDA */
.column_left {
    width: 75%;
    border: 1px solid rgb(51, 51, 51);
    border-style: solid;
    border-radius: 0.625rem;
    align-items: center;
    text-align: center;
    padding: 1.875rem;

    @media (max-width: 900px) {
        width: 100%;
    }
}

/* ESTILO COLUMNA DERECHA */
.column_right {
    width: 25%;
    border: 1px solid rgb(51, 51, 51);
    border-style: solid;
    border-radius: 0.625rem;
    align-items: center;
    text-align: center;
    padding: 1.875rem;

    @media (max-width: 900px) {
        width: 100%;
    }
}

/* ESTILO PARA EL HEADER_CONTENT */
.header_content {
    gap: 2rem;
}


.submit_form {
    margin-top: 1.25rem;
}


button {
    padding: 0.4375rem;
    border-radius: 0.3125rem;
    border: none;
    cursor: pointer;
}
