.content__title {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.content__text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.highlight {
    background-color: #0B0614;
    color: #D9D9D9;
    width: 15rem;
    height: 2rem;
    margin-top: 1.25rem;
    justify-content: left;
    align-items: center;
    text-align: left;
    cursor: pointer;
}

.highlight:hover {
    background-color: beige;
    box-shadow: 0 0 10px 2px #f1c40f;
    color: #e74c3c;
}

.highlight-strong {
    font-weight: bold;
    margin-top: 3.125rem;
    font-size: 2.25rem;
}


.content__text::after {
    content: " 🍒​";
}

.right-first {
    margin-top: 2.4375rem;
}

.footer-subtitle {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}
