* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(61, 61, 61);
    font-family: Arial, Helvetica, sans-serif;
}

/* FONTS */
.header-title {
    font-size: 2rem;
    color: white;
}

.header-subtitle {
    font-size: 1.5rem;
    color: rgb(148, 148, 148);
}

.card-title {
    font-size: 1rem;
    color: aliceblue;
}

.text-content {
    font-size: 0.75rem;
    color: rgb(148, 148, 148);
}