.section {
    display: flex;
    justify-content: space-between;
}

.column-left {
    display: flex;
    flex-direction: column;
    border: 0.0313rem solid #000000;
    border-radius: 0.3125rem;
    width: 80%;
}

.header-content {
    margin-top: 1.875rem;
    margin-left: 1.875rem;
}

.content-cards {
    margin: 1.5rem 2.1875rem 1.875rem 2.1875rem;
}

.content-card {
    border: 1px solid rgb(161, 161, 161);
    padding: 2rem;
    margin-top: 1.25rem;
    border-radius: 0.3125rem;
    width: 90%;
}