.section {
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 31, 31);
    padding: 2rem;
    gap: 1rem;
}

.column-left {
    display: flex;
    flex-direction: column;
    border: 0.0313rem solid #000000;
    border-radius: 0.3125rem;
    width: 80%;
    background-color: rgb(26, 26, 26);
    color: white;
}

.header-content {
    margin-top: 1.875rem;
    margin-left: 1.875rem;
}

.content-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 2.1875rem 1.875rem 2.1875rem;
}

.content-card {
    display: flex;
    align-items: flex-start;
    background-color: rgb(41, 41, 41);
    border: 1px solid rgb(90, 90, 90);
    border-radius: 0.3125rem;
    padding: 1rem;
    gap: 1rem;
    width: 90%;
}

.card-img {
    width: 80px;
    height: 80px;
    background-color: rgb(70, 70, 70);
    border-radius: 0.25rem;
    flex-shrink: 0; /* se encarga de evitar que se deforme */
}

