.section {
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 31, 31);
    padding: 2rem;
    gap: 1rem;

    @media (max-width: 600px) {
        flex-direction: column;
        padding: 1rem;
    }
}

.column-left {
    display: flex;
    flex-direction: column;
    border: 0.0313rem solid #000000;
    border-radius: 0.3125rem;
    width: 70%;
    background-color: rgb(26, 26, 26);
    color: white;

    @media (max-width: 900px) {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        align-items: center;
        text-align: center;
    }
}

.header-content-left {
    margin-top: 1.875rem;
    margin-left: 1.875rem;

    @media (max-width: 900px) {
        margin-left: 0;
        text-align: center; 
    }
}

.content-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 2.1875rem 1.875rem 2.1875rem;

    @media (max-width: 600px) {
        margin: 1rem 0 1rem 0;
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 0 1rem;
        box-sizing: border-box;
        gap: 1.5rem;
    }
}

.content-card {
    display: flex;
    background-color: rgb(41, 41, 41);
    border: 1px solid rgb(90, 90, 90);
    border-radius: 0.3125rem;
    padding: 1rem;
    gap: 1rem;
    width: 90%;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 75%;
    justify-content: center;
}

.card-img {
    width: 9.375rem;
    height: 9.375rem;
    background-color: rgb(70, 70, 70);
    border-radius: 0.25rem;
    flex-shrink: 0; /* se encarga de evitar que se deforme */

    @media (max-width: 600px) {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-fit: cover; /* para que la imagen no se deforme */
        margin-bottom: 1rem;
        flex-shrink: 1;
        align-self: center;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        object-position: center;
        max-width: 20rem;
        max-height: 11.25rem;
        overflow: hidden;
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.card-btn-left {
    width: fit-content;
    padding: 0.3125rem;
    background-color: rgb(90, 90, 90);
    border: 1px solid;
    border-color: whitesmoke;
    border-radius: 0.3125rem;
    color: rgb(170, 170, 170);

    @media (max-width: 600px) {
        align-self: center;
    }
}

.text-content {
    width: 80%;
}

.column-right {
    display: flex;
    flex-direction: column;
    border: 0.0313rem solid #000000;
    border-radius: 0.3125rem;
    width: 30%;
    background-color: rgb(26, 26, 26);
    color: white;

    @media (max-width: 900px) {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        align-items: center;
        text-align: center;
    }
}

.header-content-right {
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
}

.content-card-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 600px) {
        align-items: center;
        text-align: center;
        padding: 0 1rem;
        box-sizing: border-box;
    }
}

.card-btn-right {
    width: fit-content;
    padding: 0.3125rem;
    background-color: rgb(90, 90, 90);
    border: 1px solid;
    border-color: whitesmoke;
    border-radius: 0.3125rem;
    color: rgb(170, 170, 170);

    @media (max-width: 600px) {
        align-self: center;
    }
}
