.section {
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 31, 31);
    padding: 2rem;
    gap: 1rem;
}

.column-left {
    display: flex;
    flex-direction: column;
    border: 0.0313rem solid #000000;
    border-radius: 0.3125rem;
    width: 70%;
    background-color: rgb(26, 26, 26);
    color: white;
}

.header-content-left {
    margin-top: 1.875rem;
    margin-left: 1.875rem;
}

.content-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 2.1875rem 1.875rem 2.1875rem;
}

.content-card {
    display: flex;
    background-color: rgb(41, 41, 41);
    border: 1px solid rgb(90, 90, 90);
    border-radius: 0.3125rem;
    padding: 1rem;
    gap: 1rem;
    width: 90%;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 75%;
}

.card-img {
    width: 9.375rem;
    height: 9.375rem;
    background-color: rgb(70, 70, 70);
    border-radius: 0.25rem;
    flex-shrink: 0; /* se encarga de evitar que se deforme */
}

.card-btn-left {
    width: fit-content;
    padding: 0.3125rem;
    background-color: rgb(90, 90, 90);
    border: 1px solid;
    border-color: whitesmoke;
    border-radius: 0.3125rem;
    color: rgb(170, 170, 170);
}

.text-content {
    width: 80%;
}

.column-right {
    display: flex;
    flex-direction: column;
    border: 0.0313rem solid #000000;
    border-radius: 0.3125rem;
    width: 30%;
    background-color: rgb(26, 26, 26);
    color: white;
}

.header-content-right {
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
}

.content-card-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-btn-right {
    width: fit-content;
    padding: 0.3125rem;
    background-color: rgb(90, 90, 90);
    border: 1px solid;
    border-color: whitesmoke;
    border-radius: 0.3125rem;
    color: rgb(170, 170, 170);
}
