header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.pelis_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 3.125rem;
}

#pelis {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
}

#series {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin: 5rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

img {
    height: 12.5rem;
    object-fit: cover; /* recorta la imagen sin deformarla */
    width: 100%;
}

.card-body {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}

.btn-outline-primary {
    color:rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
    border-color: var(--bs-btn-hover-border-color);
}

.btn-outline-primary:hover {
    color:azure !important;
    background-color: rgb(115, 87, 240) !important;
    border-color: var(--bs-btn-hover-border-color);
}

.navbar {
    background-color: rgb(217, 223, 243) !important;
}