.content {
    height: 100vh;
    padding: 2rem;

}

.flex {
    display: flex;

    @media (max-width: 576px) {
        display: block;
    }
}

.btn {
    margin-top: 2rem;
    color: white;
    background-color: black;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: none;

    @media (max-width: 576px) {
        margin-bottom: 5rem;
    }
}
