body {
    margin: 0;
    padding: 0;
}

#containerDropdown {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 3.125rem;
}

#container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    margin: 1.25rem 5rem 1.25rem 5rem;
    border: 0.1875rem solid;
    border-radius: 0.8125rem;
    height: 50%;
    width: auto;
}

select {
    border-radius: 0.625rem;
    padding: 0.8125rem;
    align-items: center;
}

img {
    width: 20%;
    height: 14.375rem;
    box-sizing: content-box;
    margin: 0.625rem 0.625rem;
}