body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #424242;
}

.header-h1 {
    color: white;
    text-align: center;
    padding: 15px;
}

#form-section {
    background-color: #f9f9f9;
    padding: 20px 30px ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    margin: auto;
}

#form-section h2 {
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

#registration-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

#registration-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

#registration-form input[type="text"],
#registration-form input[type="email"],
#registration-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#registration-form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
