body {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle {
    font-size: 32px;
    text-align: center;
}

#productos {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 1.25rem;
}

section {
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    text-align: center;
}

/* #contenedorMartillo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

button {
    padding: 8px 14px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #333;
    cursor: pointer;
    background: white;
    transition: 0.2s;
}

button:hover {
    background: #ddd;
}

#martillo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* #contenedorLlave {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */


#llave {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#brocha {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#tronco {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}


.icono {
    width: 40px;
    height: 40px;
    margin: 5px;
}

#cesta {
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

