/* Estilo para la seccion */

.faq_general {
    display: flex;
    justify-content: space-between;
    background-color: #707070;
    padding: 2rem;
    gap: 2rem;
    height: 100vh;

    @media (max-width: 900px) {
        flex-direction: column;
    }
}

/* Estilo para la columna de la izquierda */

.faq_izq {
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    border-radius: 0.75rem;

    @media (max-width: 900px) {
        width: 100%;
    }
}

/* Estilo para la columna de la derecha */

.faq_right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 0.75rem;

    @media (max-width: 900px) {
        width: 100%;
    }
}

/* Estilo para el header */
.faq_header {
    margin-bottom: 2rem;
}

.faq_cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

/* Estilo para la card en general */

.faq_card {
    background-color: #3d3d3d;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    overflow: hidden;
}

/*Estilo para el div del titulo*/

.card_title {
    display: flex;
    justify-content: space-between;
    border: none;
    background: #2a2a2a;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
    text-align: left;
    width: 100%;
}

/* Estilo para el div del subtitulo */
.card_subtitle {
    display: flex;
    justify-content: space-between;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
    text-align: left;
    width: 100%;
}

/* Estilo para el div con el contenido */

.card_content {
    padding: 1rem;
    background-color: #2a2a2a;
    color: aliceblue;
}